@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LaptopStore</h1>
    <h2> Welcome to our store! This is your one stop destination to buy and sell laptops at exciting prices! </h2>
</div>
