<h1>WELCOME</h1>
<br/>

<h2>New User?</h2>
<a asp-controller="Accounts" asp-action="Register">Register Here!</a><br/>

<h2>Else, Welcome Back!</h2>
<a asp-controller="Accounts" asp-action="Login">Login Here!</a>